h1{
    color: red;
}
body{
    background-color: gray;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


    li{
        padding-right: 20px;
        float: left;
        a{
            color: black;
            text-decoration: none;
        }
    }

    > li{
        color: white;
    }
}